{% extends "base.jinja" %}

{% block content%}

<h2>Register Page</h2>
{{ form.hidden_tag() }}
<p>
    {{ form.username.label }}<br>
    {{ form.username(size=32) }}
</p>
<p>
    {{ form.email.label }}<br>
    {{ form.email(size=32) }}
</p>
<p>
    {{ form.password.label }}<br>
    {{ form.password(size=32) }}
</p>
<p>{{ form.submit() }}</p>


{% endblock %}